<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="dev_id" default="1" />

  <!-- Watchdog Parameters -->
  <arg name="watchdog_verbose"          default="False" />
  <arg name="watchdog_check_dt"         default="0.5" />
  <arg name="watchdog_topics_cfg_file"  default="$(find amadee_bringup)/configs/watchdog/topics.ini" />
  <arg name="watchdog_nodes_cfg_file"   default="$(find amadee_bringup)/configs/watchdog/nodes.ini" />
  <arg name="watchdog_drivers_cfg_file" default="$(find amadee_bringup)/configs/watchdog/drivers.ini" />

  <!-- Watchdog Parameters -->
  <arg name="toland_imu"                default="/mavros/imu/data_raw" />
  <arg name="toland_lrf"                default="/lidar_lite/range" />
  <arg name="angle_threshold"           default="10.0" />
  <arg name="distance_threshold"        default="0.20" />

  <!-- Supervisor parameter -->
  <arg name="topic_to_supervise"        default="/ov_msckf/poseimu" />
  <arg name="window_s"                  default="10.0" />
  <arg name="max_norm"                  default="0.3" />

  <!-- Raspberry PI 1 launches -->
  <group if="$(eval arg('dev_id') == 1)">
    <!-- <include file="$(find watchdog_bringup)/launch/watchdog.launch">
      <arg name="do_verbose"        value="$(arg watchdog_verbose)" />
      <arg name="topic_check_dt"    value="$(arg watchdog_check_dt)" />
      <arg name="topics_cfg_file"   value="$(arg watchdog_topics_cfg_file)" />
      <arg name="nodes_cfg_file"    value="$(arg watchdog_nodes_cfg_file)" />
      <arg name="drivers_cfg_file"  value="$(arg watchdog_drivers_cfg_file)" />
    </include> -->

    <include file="$(find estimator_supervisor)/launch/posewithcovariancestamped_supervisor.launch">
        <arg name="topic_to_supervise"        value="$(arg topic_to_supervise)" />
        <arg name="Supervisor_window_s"       value="$(arg window_s)" />
        <arg name="max_norm_changes"          value="$(arg max_norm)" />
    </include>

    <include file="$(find toland_flight)/launch/toland.launch">
      <arg name="imu_topic"           value="$(arg toland_imu)" />
      <arg name="lrf_topic"           value="$(arg toland_lrf)" />
      <arg name="angle_threshold"     value="$(arg angle_threshold)" />
      <arg name="distance_threshold"  value="$(arg distance_threshold)" />
    </include>
  </group>
</launch>
