[submodule "src/catkin_simple"]
	path = src/catkin_simple
	url = https://github.com/catkin/catkin_simple.git
[submodule "src/glog_catkin"]
	path = src/glog_catkin
	url = https://github.com/ethz-asl/glog_catkin.git
[submodule "src/ros_vrpn_client"]
	path = src/ros_vrpn_client
	url = https://github.com/aau-cns/ros_vrpn_client.git
[submodule "src/vrpn_catkin"]
	path = src/vrpn_catkin
	url = https://github.com/ethz-asl/vrpn_catkin.git
[submodule "src/autonomy_engine"]
	path = src/autonomy_engine
	url = https://github.com/aau-cns/autonomy_engine.git
[submodule "src/ros_watchdog"]
	path = src/ros_watchdog
	url = https://github.com/aau-cns/ros_watchdog.git
[submodule "src/toland_flight"]
	path = src/toland_flight
	url = https://github.com/aau-cns/to_landing_detector.git
[submodule "src/data_recorder"]
	path = src/data_recorder
	url = https://github.com/aau-cns/data_recorder.git
[submodule "src/mission_sequencer"]
	path = src/mission_sequencer
	url = https://github.com/aau-cns/mission_sequencer.git
[submodule "src/mars_ros"]
	path = src/mars_ros
	url = https://github.com/aau-cns/mars_ros.git
[submodule "src/estimator_supervisor"]
	path = src/estimator_supervisor
	url = https://github.com/aau-cns/estimator_supervisor.git
[submodule "src/nodelet_rosbag"]
	path = src/nodelet_rosbag
	url = https://github.com/aau-cns/nodelet_rosbag.git
[submodule "src/mavlink"]
	path = src/mavlink
	url = https://github.com/aau-cns/mavlink.git
[submodule "src/mavros"]
	path = src/mavros
	url = https://github.com/aau-cns/mavros.git
[submodule "src/flightstack/flightstack_comm"]
	path = src/flightstack/flightstack_comm
	url = https://github.com/aau-cns/flight_stack_comm.git
[submodule "src/mavlink-gbp-release"]
	path = src/mavlink-gbp-release
	url = https://github.com/aau-cns/mavlink-gbp-release.git
[submodule "src/mocap_bridge"]
	path = src/mocap_bridge
	url = https://github.com/aau-cns/mocap_bridge.git
