<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2022 Christian Brommer, Control of Networked Systems, University of Klagenfurt, Austria.

All rights reserved.

This software is licensed under the terms of the BSD-2-Clause-License with
no commercial use allowed, the full terms of which are made available
in the LICENSE file. No license in patents is granted.

You can contact the authors at <christian.brommer@ieee.org>.
-->

<launch>

  <arg name="imu_in_topic" default="mars_imu_in" />
  <arg name="transform_in_topic" default="mars_transform_in" />
  <arg name="pose_in_topic" default="mars_pose_in" />
  <arg name="state_out_topic" default="mars_state_out" />

  <arg name="respawn" default="true" />

  <node name="pose_node" pkg="mars_ros" type="pose_node" clear_params="true" output="screen" respawn="$(arg respawn)">
    <!-- Input -->
    <remap from="imu_in" to="$(arg imu_in_topic)"/>
    <remap from="transform_in" to="$(arg transform_in_topic)"/>
    <remap from="pose_in" to="$(arg pose_in_topic)"/>

    <!-- Output -->
    <remap from="core_ext_state_out" to="$(arg state_out_topic)"/>
  </node>
</launch>
