<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2022 Christian Brommer, Martin Scheiber,
and others, Control of Networked Systems, University of Klagenfurt, Austria.

All rights reserved.

This software is licensed under the terms of the BSD-2-Clause-License with
no commercial use allowed, the full terms of which are made available
in the LICENSE file. No license in patents is granted.

You can contact the authors at <christian.brommer@ieee.org>
and <martin.scheiber@ieee.org>.
-->

<launch>
  <arg name="platform"    default="pi" />

  <include file="$(find amadee_bringup)/launch/optitrack_aau_dronehall.launch"/>
  <include file="$(find amadee_bringup)/launch/px4.launch">
    <arg name="platform"  value="$(arg platform)" />
  </include>
</launch>
