<!--
Copyright (C) 2022 Martin Scheiber, Christian Brommer,
and others, Control of Networked Systems, University of Klagenfurt, Austria.

All rights reserved.

This software is licensed under the terms of the BSD-2-Clause-License with
no commercial use allowed, the full terms of which are made available
in the LICENSE file. No license in patents is granted.

You can contact the authors at <martin.scheiber@ieee.org>, <christian.brommer@ieee.org>.
-->
<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="platform"  default="pi" />

  <arg name="device_id" default="AMA0" />
  <arg name="device_id" value="SAC0" if="$(eval arg('platform') == 'xu4'"/>

  <include file="$(find mavros)/launch/px4.launch">
    <arg name="fcu_url" default="/dev/tty$(arg device_id):921600" />
  </include>
</launch>
