<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="img_disable_time"          default="12.0" />
  <arg name="lrf_disable_time"          default="5.0" />
  <arg name="uwb_disable_time"          default="1.0" />
  <arg name="disabled_time"             default="5.0" />

  <arg name="disable_img"               default="True" />
  <arg name="disable_lrf"               default="False" />
  <arg name="disable_uwb"               default="True" />


  <include file="$(find ros_topic_dropper)/launch/dropper.launch">
    <!-- node parameters -->
    <arg name="img_disable_time"            value="$(arg img_disable_time)" />
    <arg name="lrf_disable_time"            value="$(arg lrf_disable_time)" />
    <arg name="uwb_disable_time"            value="$(arg uwb_disable_time)" />
    <arg name="disabled_time"               value="$(arg disabled_time)" />

    <arg name="disable_img"                 value="$(arg disable_img)" />
    <arg name="disable_lrf"                 value="$(arg disable_lrf)" />
    <arg name="disable_uwb"                 value="$(arg disable_uwb)" />
  </include>
</launch>
