<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2022 Martin Scheiber, Christian Brommer,
and others, Control of Networked Systems, University of Klagenfurt, Austria.

All rights reserved.

This software is licensed under the terms of the BSD-2-Clause-License with
no commercial use allowed, the full terms of which are made available
in the LICENSE file. No license in patents is granted.

You can contact the authors at <martin.scheiber@ieee.org>, <christian.brommer@ieee.org>.
-->

<launch>
  <arg name="dev_id"    default="1" />
  <arg name="dev_type"  default="xu4" /> <!-- or "pi", "agx", or "pc" - otherwise set values below manually -->
  <arg name="dev_port"  default="" /> <!--ignored if empty -->
  <arg name="dev_baud"  default="" /> <!--ignored if empty -->

  <!-- Optitrack Arguments -->
  <arg name="use_gps"               default="False" />
  <arg name="optitrack_object_name" default="$(env FS_OPTITRACK_OBJECT_NAME)" />
  <arg name="optitrack_throttle"    default="False" />

  <include file="$(find flightstack_bringup)/launch/fs_sensors.launch">
    <arg name="dev_id"    value="$(arg dev_id)" />
    <arg name="dev_type"  value="$(arg dev_type)" /> <!-- or "pi" -->
    <arg name="dev_port"  value="$(arg dev_port)" /> <!--ignored if empty -->
    <arg name="dev_baud"  value="$(arg dev_baud)" /> <!--ignored if empty -->

    <!-- Optitrack Arguments -->
    <arg name="use_gps"               value="$(arg use_gps)" />
    <arg name="optitrack_object_name" value="$(arg optitrack_object_name)" />
    <arg name="optitrack_throttle"    value="$(arg optitrack_throttle)" />
  </include>


</launch>
