# Copyright (C) 2023 Martin Scheiber, Roland Jung,
# and others, Control of Networked Systems, University of Klagenfurt, Austria.
# 
# All rights reserved.
# 
# This software is licensed under the terms of the BSD-2-Clause-License with
# no commercial use allowed, the full terms of which are made available
# in the LICENSE file. No license in patents is granted.
# 
# You can contact the authors at <martin.scheiber@aau.at>, <roland.jung@aau.at>

# template_node:
#   entity_id: /template
#   #  name of the entity
#   severity :  0
#   #  severity level of failure
#   node_name: /template_node
#   #  name of the rosnode associated with it
#   driver_name: template_driver
#   #  name of the driver associated with it
#   max_restart_attempts: 0
#   restart_timeout: 1

# watch myself
/watchdog:
  entity_id: wd
  max_restart_attempts: 0
  restart_timeout: 1

/mavros:
  entity_id: px4_imu
  max_restart_attempts: 0
  restart_timeout: 1

/${FS_OPTITRACK_OBJECT_NAME}/vrpn_client:
  entity_id: optitrack
  max_restart_attempts: 0
  restart_timeout: 1
