<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2022 Martin Scheiber, Christian Brommer,
and others, Control of Networked Systems, University of Klagenfurt, Austria.

All rights reserved.

This software is licensed under the terms of the BSD-2-Clause-License with
no commercial use allowed, the full terms of which are made available
in the LICENSE file. No license in patents is granted.

You can contact the authors at <martin.scheiber@ieee.org>, <christian.brommer@ieee.org>.
-->

<launch>
  <arg name="dev_id"                    default="1" />

  <arg name="optitrack_object_name"     default="twins_five" />

  <arg name="use_gps"                   default="False" />
  <arg name="use_gps_vel"               default="False" />

  <!-- MaRS arguments -->
  <arg name="mars_imu_in"               default="/mavros/imu/data_raw" />
  <arg name="mars_transform_in"         default="/$(arg optitrack_object_name)/vrpn_client/raw_transform" />
  <arg name="mars_pose_out"             default="/mavros/vision_pose/pose" />
  <arg name="mars_lite_ext_state_out"   default="/mavros/external_state_lite/external_state_estimate_lite" />
  <arg name="mars_gps_pos_in"           default="/mavros/global_position/raw/fix" />
  <arg name="mars_gps_vel_in"           default="/mavros/global_position/raw/gps_vel" />


  <arg name="mars_config_in"            default="$(find mars_ros)/launch/config/pose_config.yaml" unless="$(arg use_gps)" />
  <arg name="mars_config_in"            default="$(find mars_ros)/launch/config/gps_config.yaml" if="$(arg use_gps)" />

    <!-- MaRS Estimator -->
  <group if="$(eval arg('dev_id') == 1)">

    <!-- Optitrack -->
    <group unless="$(arg use_gps)">
        <include file="$(find mars_ros)/launch/mars_pose.launch">
          <arg name="config_file"               value="$(arg mars_config_in)" />

          <arg name="imu_in_topic"              value="$(arg mars_imu_in)" />
          <arg name="transform_in_topic"        value="$(arg mars_transform_in)" />

          <arg name="full_state_lite_out_topic" value="$(arg mars_lite_ext_state_out)"  if="$(arg use_px4_bridge)" />
          <arg name="pose_state_out_topic"      value="$(arg mars_pose_out)"            unless="$(arg use_px4_bridge)"  />
        </include>
    </group>

    <!-- GPS -->
    <group if="$(arg use_gps)">
      <include file="$(find mars_ros)/launch/mars_gps.launch">
        <arg name="config_file"                   value="$(arg mars_config_in)" />

        <arg name="imu_in_topic"                  value="$(arg mars_imu_in)" />
        <arg name="gps1_pos_in"                   value="$(arg mars_gps_pos_in)" />

        <arg name="full_state_lite_out_topic"     value="$(arg mars_lite_ext_state_out)" if="$(arg use_px4_bridge)" />
        <arg name="pose_state_out_topic"          value="$(arg mars_pose_out)" unless="$(arg use_px4_bridge)"  />

      </include>
    </group>
  </group>

</launch>
