<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2023 Martin Scheiber,
  Control of Networked Systems Group, University of Klagenfurt, Austria.
  
  All rights reserved.
  
  This software is licensed under the terms of the BSD-2-Clause-License with
  no commercial use allowed, the full terms of which are made available
  in the LICENSE file. No license in patents is granted.
  
  You can contact the author at <martin.scheiber@aau.at>
-->
<launch>
  <arg name="dev_id"            default="1" />
  <arg name="ros_namespace"     default="cnsuav" />

  <!-- parameters required for launching with fs_dev scripts -->
  <arg name="dev_type"          default="xu4" />
  <arg name="use_gps"           default="False" />
  <arg name="rec_script_file"   default="$(find flightstack_scripts)/record_scripts/record_full.sh" />
  <arg name="store_script_file" default="$(find flightstack_scripts)/store_scripts/safe_merge_data_single_dev.sh" />
  <arg name="estimator_init_service_name" default="/$(arg ros_namespace)/$(env FS_ESTIMATOR_NODE_NAME)/init_service" />
  <arg name="config_filepath"             default="$(find flightstack_bringup)/configs/autonomy/config_dh.yaml" />

  <arg name="launch_file"       default="all" />
  <!-- choose between 'all', 'estimation', 'navigation', 'operator', 'recording', 'saftey', and 'sensors'-->

  <group ns="$(arg ros_namespace)">
    <!-- ESTIMATION -->
    <include file="$(find flightstack_bringup)/launch/fs_estimation.launch" 
              if="$(eval arg('launch_file') == 'all' or arg('launch_file') == 'estimation')">
      <arg name="dev_id"          value="$(arg dev_id)" />
      <arg name="ros_ns"          value="$(arg ros_namespace)" />

      <arg name="use_gps"         value="$(arg use_gps)" />
    </include>

    <!-- NAVIGATION -->
    <include file="$(find flightstack_bringup)/launch/fs_navigation.launch" 
              if="$(eval arg('launch_file') == 'all' or arg('launch_file') == 'navigation')">
      <arg name="dev_id"          value="$(arg dev_id)" />
      <arg name="ros_ns"          value="$(arg ros_namespace)" />

      <arg name="use_gps"         value="$(arg use_gps)" />
    </include>

    <!-- OPERATOR -->
    <include file="$(find flightstack_bringup)/launch/fs_operator.launch" 
              if="$(eval arg('launch_file') == 'all' or arg('launch_file') == 'operator')">
      <arg name="dev_id"          value="$(arg dev_id)" />
      <arg name="ros_ns"          value="$(arg ros_namespace)" />

      <arg name="estimator_init_service_name" value="$(arg estimator_init_service_name)" />
      <arg name="config_filepath" value="$(arg config_filepath)" />
    </include>

    <!-- RECORDING -->
    <include file="$(find flightstack_bringup)/launch/fs_recording.launch" 
              if="$(eval arg('launch_file') == 'all' or arg('launch_file') == 'recording')">
      <arg name="dev_id"          value="$(arg dev_id)" />
      <arg name="ros_ns"          value="$(arg ros_namespace)" />
    </include>

    <!-- SAFETY -->
    <include file="$(find flightstack_bringup)/launch/fs_safety.launch" 
              if="$(eval arg('launch_file') == 'all' or arg('launch_file') == 'safety')">
      <arg name="dev_id"          value="$(arg dev_id)" />
      <arg name="ros_ns"          value="$(arg ros_namespace)" />

      <arg name="use_gps"         value="$(arg use_gps)" />
    </include>

    <!-- SENSORS -->
    <include file="$(find flightstack_bringup)/launch/fs_sensors.launch" 
              if="$(eval arg('launch_file') == 'all' or arg('launch_file') == 'sensors')">
      <arg name="dev_id"          value="$(arg dev_id)" />
      <arg name="ros_ns"          value="$(arg ros_namespace)" />

      <arg name="use_gps"         value="$(arg use_gps)" />
    </include>
  </group>
</launch>
