<!--
Copyright (C) 2022 Martin Scheiber, Christian Brommer,
and others, Control of Networked Systems, University of Klagenfurt, Austria.

All rights reserved.

This software is licensed under the terms of the BSD-2-Clause-License with
no commercial use allowed, the full terms of which are made available
in the LICENSE file. No license in patents is granted.

You can contact the authors at <martin.scheiber@ieee.org>, <christian.brommer@ieee.org>.
-->
<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="dev_id"    default="1" />
  <arg name="dev_type"  default="xu4" /> <!-- or "pi" -->

  <!-- Optitrack Arguments -->
  <arg name="use_optitrack"         default="True" />
  <arg name="optitrack_object_name" default="twins_five" />
  <arg name="optitrack_throttle"    default="False" />


  <!-- Device 1 -->
  <group if="$(eval arg('dev_id') == 1)">
    <include file="$(find flightstack_bringup)/launch/individual/px4.launch">
      <arg name="platform"          value="$(arg dev_type)" />
    </include>
    <include file="$(find flightstack_bringup)/launch/individual/optitrack_aau_dronehall.launch" if="$(arg use_optitrack)">
      <arg name="object_name"       value="$(arg optitrack_object_name)" />
      <arg name="throttle"          value="$(arg optitrack_throttle)" />
    </include>
  </group>

</launch>
