<?xml version="1.0" encoding="UTF-8"?>

<!-- Run the aruco_detect node -->
<launch>
  <!-- namespace for camera input -->
  <arg name="camera" default="/mission_cam" />
  <arg name="image" default="image_rect" />
  <arg name="transport" default="raw" />
  <arg name="fiducial_len" default="0.10" />
  <arg name="dictionary" default="14" />
  <arg name="do_pose_estimation" default="true" />
  <arg name="ignore_fiducials" default="" />
  <arg name="fiducial_len_override" value="0: 0.1, 1: 0.2, 2: 0.05, 3: 0.5" />

  <node pkg="aruco_detect" name="aruco_detect" type="aruco_detect" output="screen" respawn="false">
    <param name="image_transport" value="$(arg transport)" />
    <param name="publish_images" value="true" />
    <param name="fiducial_len" value="$(arg fiducial_len)" />
    <param name="dictionary" value="$(arg dictionary)" />
    <param name="do_pose_estimation" value="$(arg do_pose_estimation)" />
    <param name="ignore_fiducials" value="$(arg ignore_fiducials)" />
    <param name="fiducial_len_override" value="$(arg fiducial_len_override)" />
    <remap from="/camera" to="$(arg camera)/$(arg image)" />
    <remap from="/camera_info" to="$(arg camera)/camera_info" />
  </node>
</launch>
