<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- mono or stereo and what ros bag to play -->
    <arg name="max_cameras" default="1" />
    <arg name="use_stereo"  default="false" />
    <arg name="use_mocap"   default="false" />

    <arg name="topic_imu"     default="/mus/imu" />
    <arg name="topic_camera0" default="/mus/image" />
    <arg name="topic_camera1" default="/mus/image2" />

    <!-- MASTER NODE! -->
    <node name="run_subscribe_ms_msckf" pkg="ov_msckf" type="run_subscribe_ms_msckf" output="screen" clear_params="true" required="true">

        <!-- bag topics -->
        <param name="topic_imu"      type="string" value="$(arg topic_imu)" />
        <param name="topic_camera0"  type="string" value="$(arg topic_camera0)" />
        <param name="topic_camera1"  type="string" value="$(arg topic_camera1)" if="$(arg use_stereo)"/>
        <param name="topic_pose"     type="string" value="/twins_three/vrpn_client/raw_transform" if="$(arg use_mocap)"/>
        <param name="topic_lrf"	     type="string" value="/lidar_lite/range"/>

        <!-- Execution parameters -->
        <param name="tcp_no_delay"                           type="bool"     value="true" />
        <param name="visualize_fast"                         type="bool"     value="false" />

        <!-- world/filter parameters -->
        <param name="use_fej"                                type="bool"     value="false" />
        <param name="use_rk4int"                             type="bool"     value="true" />
        <param name="use_stereo"                             type="bool"     value="$(arg use_stereo)" />
        <param name="calib_cam_extrinsics"                   type="bool"     value="true" />
        <param name="calib_cam_intrinsics"                   type="bool"     value="true" />
        <param name="calib_cam_timeoffset"                   type="bool"     value="true" />
        <param name="max_clones"                             type="int"      value="8" />
        <param name="max_slam"                               type="int"      value="30" /> <!--25-->
        <param name="max_slam_in_update"                     type="int"      value="30" /> <!--25-->
        <param name="max_msckf_in_update"                    type="int"      value="60" /> <!--50-->
        <param name="dt_slam_delay"                          type="double"   value="2" />
        <param name="max_cameras"                            type="int"      value="$(arg max_cameras)" />
        <param name="feat_representation"                    type="string"   value="ANCHORED_MSCKF_INVERSE_DEPTH" />
        <param name="feat_rep_slam"                          type="string"   value="GLOBAL_3D" />
        <param name="init_window_time"                       type="double"   value="1.0" />
        <param name="init_imu_thresh"                        type="double"   value="1.0" />

        <!-- Pose update -->
        <param name="calib_pose_extrinsics"                  type="bool"     value="True" if="$(arg use_mocap)"/>
        <param name="global_pose_init"			                 type="bool"     value="True" if="$(arg use_mocap)"/>
        <param name="pose_sigma_ori"            	           type="double"   value="0.01" if="$(arg use_mocap)"/>
        <param name="pose_sigma_pos"                         type="double"   value="0.05" if="$(arg use_mocap)"/>
        <param name="pose_chi2_multipler"      		           type="double"   value="9e9" if="$(arg use_mocap)"/>

        <!-- LRF Update -->
        <param name="lrf_sigma_range" 			                 type="double"   value="0.05"/>
        <param name="lrf_chi2_multipler"		                 type="double"   value="1.0"/>

        <!-- Time delay cam-imu -->
        <!--<param name="calib_camimu_dt"                        type="double"   value="-0.33" />-->

        <!-- gravity -->
        <rosparam param="gravity">[0.0,0.0,9.81]</rosparam>

        <!-- tracker/extractor properties -->
        <param name="use_klt"            type="bool"   value="true" />
        <param name="num_pts"            type="int"    value="90" /> <!--75-->
        <param name="fast_threshold"     type="int"    value="5" />
        <param name="grid_x"             type="int"    value="5" />
        <param name="grid_y"             type="int"    value="3" />
        <param name="min_px_dist"        type="int"    value="3" />
        <param name="knn_ratio"          type="double" value="0.6" />
        <param name="downsample_cameras" type="bool"   value="true" />
        <param name="downsample_scale"   type="int"    value="16" />

        <!-- sensor noise values / update VIO -->
        <param name="up_msckf_sigma_px"            type="double"   value="1" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <param name="gyroscope_noise_density"      type="double"   value="1e-4" />
        <param name="gyroscope_random_walk"        type="double"   value="1e-5" />
        <param name="accelerometer_noise_density"  type="double"   value="5e-3" />
        <param name="accelerometer_random_walk"    type="double"   value="1e-4" />

        <!-- camera intrinsics -->
        <!-- <rosparam param="cam0_wh">[2056, 1542]</rosparam>
        <param name="cam0_is_fisheye" type="bool" value="false" />
        <rosparam param="cam0_k">[1135.5650258005983, 1135.8739681751554, 1041.4618117459981, 751.1986090537343]</rosparam>
        <rosparam param="cam0_d">[-0.25555106539016703, 0.055741385659997734, 0.00044388409589346035, -2.8944627402399608e-05]</rosparam> -->
        <rosparam param="cam0_wh">[514, 386]</rosparam>
        <param name="cam0_is_fisheye" type="bool" value="false" />
        <rosparam param="cam0_k">[214.92960940550418, 214.82733758765784, 265.6014180528403, 187.16489134156814]</rosparam>
        <rosparam param="cam0_d">[-0.2725400197299892, 0.060550428755062224, 0.00023381590983103108, 0.00013796005838102242]</rosparam>


        <!-- camera extrinsics -->
        <rosparam param="T_C0toI">
            <!-- [
            -0.99938287, -0.02849253, 0.02054382, -0.25332116,
            -0.02783894, 0.99911826, 0.0314276, -0.04944827,
            -0.02142116, 0.03083629, -0.99929488, -0.02148546,
            0.0, 0.0, 0.0, 1.0
            ] -->
            [
            -0.99839403, -0.00776018, -0.05611712, -0.25641571,
            -0.00699098, 0.99987908, -0.01389046, -0.04056511,
            0.05621812, -0.01347584, -0.99832756, -0.01527998,
            0.0, 0.0, 0.0, 1.0
            ]
        </rosparam>

        <!-- fixed value initial prior covariance -->
        <param name="prior_core_cov"                        type="double"   value="1e-3" />
        <param name="prior_hand_measurement_pos_cov"        type="double"   value="0.05" />
        <param name="prior_hand_measurement_ori_cov"        type="double"   value="5" />

        <!-- Other params -->
        <param name="suppress_output"   type="bool" value="true" />

    </node>
</launch>
