<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="frame_rate" default="20.0" />
  <arg name="res_x" default="640" />
  <arg name="res_y" default="480" />

  <!-- <include file="$(find amadee_bringup)/launch/ueye_cam.launch">
    <arg name="frame_rate" value="$(arg frame_rate)" />
  </include> -->
  <include file="$(find bw2_bringup)/launch/individual/mv_camera_nodelet.launch">
    <arg name="frame_rate"  value="$(arg frame_rate)" />
    <arg name="roi_width"   value="$(arg res_x)" />
    <arg name="roi_height"  value="$(arg res_y)" />
  </include>

  <include file="$(find evb1000_driver)/launch/default_TREK.launch" />
</launch>
