<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- topic parameters -->
  <arg name="topic_uwb_in"        default="/TREK1000/tagDistance_raw" />
  <!-- <arg name="topic_pose_in"      default="/bw2_ms_msckf/pose" /> -->
  <arg name="topic_pose_in"       default="/mavros/vision_pose/pose" />
  <arg name="topic_anchor_out"    default="/uwb_init/anchors" />
  <!-- <arg name="topic_wp_out"       default="/uwb_init/waypoints" /> -->
  <arg name="topic_wp_out"        default="/mission_sequencer/waypoint_list" />
  <arg name="srv_get_start_pose"  default="/mission_sequencer/getStartPose" />

  <!-- calibration -->
  <arg name="calib_p_ItoU"      default="[-0.03, -0.04, -0.11]" />

  <!-- node parameters -->
  <arg name="num_anchors"               default="3" />
  <arg name="buffer_size_in_s"          default="210.0" />
  <arg name="max_cond_number"           default="20.0" />
  <arg name="init_check_duration_in_s"  default="30.0" />
  <arg name="t_pose_diff_s"             default="0.0" />

  <arg name="meas_baseline_m"           default="0.2" />
  <arg name="meas_baseline_idx"         default="30" />
  <arg name="reg_lambda"                default="100" />
  <arg name="continous_init"            default="False" />
  <arg name="cov_sv_threshold"          default="3e-3" />
  <arg name="regularize_z"              default="True" />
  <arg name="exit_when_done"            default="False" />

  <arg name="init_method"               default="DOUBLE" />
  <arg name="init_variables"            default="FULL_BIAS" />

  <!-- waypoint generation -->
  <arg name="wp_max_dist_in_m"          default="1.0" />
  <arg name="wp_height_in_m"            default="1.0" />
  <arg name="wp_random_offset_in_m"     default="0.5" />
  <arg name="wp_holdtime_in_s"          default="0.5" />

  <include file="$(find uwb_init_cpp)/launch/uwb_init.launch">
    <arg name="topic_uwb_in"              value="$(arg topic_uwb_in)" />
    <arg name="topic_pose_in"             value="$(arg topic_pose_in)" />
    <arg name="topic_anchor_out"          value="$(arg topic_anchor_out)" />
    <arg name="topic_wp_out"              value="$(arg topic_wp_out)" />
    <arg name="srv_get_start_pose"        value="$(arg srv_get_start_pose)" />

    <arg name="calib_p_ItoU"              value="$(arg calib_p_ItoU)" />

    <arg name="num_anchors"               value="$(arg num_anchors)" />
    <arg name="buffer_size_in_s"          value="$(arg buffer_size_in_s)" />
    <arg name="max_cond_number"           value="$(arg max_cond_number)" />
    <arg name="init_check_duration_in_s"  value="$(arg init_check_duration_in_s)" />
    <arg name="t_pose_diff_s"             value="$(arg t_pose_diff_s)" />
    <arg name="cov_sv_threshold"          value="$(arg cov_sv_threshold)" />
    <arg name="regularize_z"              value="$(arg regularize_z)" />
    <arg name="exit_when_done"            value="$(arg exit_when_done)" />

    <arg name="init_method"               value="$(arg init_method)" />
    <arg name="init_variables"            value="$(arg init_variables)" />

    <arg name="meas_baseline_m"           value="$(arg meas_baseline_m)" />
    <arg name="meas_baseline_idx"         value="$(arg meas_baseline_idx)" />
    <arg name="reg_lambda"                value="$(arg reg_lambda)" />
    <arg name="continous_init"            value="$(arg continous_init)" />

    <arg name="wp_max_dist_in_m"          value="$(arg wp_max_dist_in_m)" />
    <arg name="wp_height_in_m"            value="$(arg wp_height_in_m)" />
    <arg name="wp_random_offset_in_m"     value="$(arg wp_random_offset_in_m)" />
    <arg name="wp_holdtime_in_s"          value="$(arg wp_holdtime_in_s)" />
  </include>
</launch>
