<!-- ROS launch file -->
<launch>
    <arg name="node_name"           default="watchdog" />

    <arg name="status_o"            default="$(arg node_name)/status" />
    <arg name="status_service_o"    default="$(arg node_name)/status" />
    <arg name="start_service_o"     default="$(arg node_name)/start" />
    <arg name="autonomy_service_o"  default="$(arg node_name)/autonomy" />

    <arg name="topic_check_dt"      default="0.5" />

    <!-- config files -->
    <arg name="topics_cfg_file"   default="$(find watchdog_bringup)/config/topics.ini"/>
    <arg name="sensors_cfg_file"  default="$(find watchdog_bringup)/config/sensors.ini"/>
    <arg name="drivers_cfg_file"  default="$(find watchdog_bringup)/config/drivers.ini"/>
    <arg name="nodes_cfg_file"    default="$(find watchdog_bringup)/config/nodes.ini"/>

    <arg name="do_verbose"          default="True" />
    <arg name="use_startup_to"      default="False" />

    <node pkg="ros_watchdog" type="WatchdogNode.py" name="watchdog" output="screen">
        <param name="topics_cfg_file"   value="$(arg topics_cfg_file)"/>
        <param name="sensors_cfg_file"  value="$(arg sensors_cfg_file)"/>
        <param name="drivers_cfg_file"  value="$(arg drivers_cfg_file)"/>
        <param name="nodes_cfg_file"    value="$(arg nodes_cfg_file)"/>

        <param name="topic_check_rate"  value="$(arg topic_check_dt)"/>
        <param name="bVerbose"          value="$(arg do_verbose)"/>
        <param name="bUseStartupTO"     value="$(arg use_startup_to)"/>

        <remap from="/status"           to="$(arg status_o)"/>
        <remap from="/status_service"   to="$(arg status_service_o)"/>
        <remap from="/start_service"    to="$(arg start_service_o)"/>
        <remap from="/autonomy_action"  to="$(arg autonomy_service_o)"/>
    </node>
</launch>
