<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="pi"    default="1" />

    <!-- data recorder paramters -->
    <arg name="rec_script_file"   default="$(find data_recorder)/scripts/recrod.sh" />
    <arg name="rec_verbose"       default="False" />

    <group if="$(eval arg('pi') == 1)">
      <include file="$(find data_recorder)/launch/recorder.launch">
        <arg name="record_script"   default="$(arg rec_script_file)" />
        <arg name="verbose"         default="$(arg rec_verbose)" />
      </include>
    </group>
</launch>
