<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="record_script"   default="$(find amadee_bringup)/../record_script/record_full_setup.sh" />
    <arg name="record_cmd"      default="dev1_full" />
    <arg name="verbose"         default="true" />

    <node name="data_recorder" pkg="data_recorder" type="DataRecorderNode.py" output="screen" respawn="true">
        <param name="record_script" value="$(arg record_script)" />
        <param name="record_cmd"    value="$(arg record_cmd)" />
        <param name="verbose"       value="$(arg verbose)" />
    </node>
</launch>
