<launch>
  <include file="$(find amadee_bringup)/launch/ublox.launch">
    <arg name="node_name" value="rtk_gps_1" />
    <arg name="param_file_name" value="c94_m8p_rover_1" />
  </include>

  <include file="$(find amadee_bringup)/launch/ublox.launch">
    <arg name="node_name" value="rtk_gps_2" />
    <arg name="param_file_name" value="c94_m8p_rover_2" />
  </include>
</launch>
