<launch>
    <node name="check_ueye_api" pkg="ueye_cam" type="check_ueye_api" required="true" />
    <arg name="nodelet_manager_name" value="nodelet_manager" />
    <arg name="camera_name" value="camera" />

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" output="screen" />

    <node pkg="nodelet" type="nodelet" name="ueye_cam_nodelet"
        args="load ueye_cam/ueye_cam_nodelet $(arg nodelet_manager_name)">
        <param name="camera_name" type="str" value="$(arg camera_name)" /> <!-- == namespace for topics and services -->
        <param name="camera_topic" type="str" value="image_raw" />
        <!-- WARNING: the following 4 parameters specify dimensions for camera's area of interest. Values for image_width and image_height that are smaller than your camera's maximum values will result in cropped field of view. For typical cases, one should modify values for sensor_scaling / binning / subsampling to downsample the resulting ROS image to the desired dimensions, without losing potential field of view. -->
    </node>
</launch>
